button {
    font-family: 'Nunito', sans-serif;
    background-color: inherit;
}

.buttonUnclicked {
    font-size: large;
    text-align: left;
    border: none;
  }
  
.buttonClicked{
    font-size: large;
    text-align: left;
    border: none;
    border-bottom: solid 1px;
}

.Categories {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.ButtonWrapper {
    text-align: left;
}

.itemImg {
    max-width:100%;
}

.browse-container{
    padding-top: 50px;
    background-color: #C6E2E9;
    height: 100vh;
}

