.login-container{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    background-image: linear-gradient(to bottom right, #a378e4, #FCB9C0, #FFE9AA);
}

.login-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2% 2% 2% 2%;
    border-radius: 10px;
}

.MuiInputLabel-root {
    font-size: 14px !important;
}

.welcome {
    text-align: center;
    font-weight: 700;
}

.no-account {
    text-align: center;
    font-size: 14px;
    margin-top: 75px;
    color: grey;
}
